*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CCC;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.box{
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.2);
    border-radius: 8px;
}

.Heading-span{
    font-size: 20px;
    color: #04175A;
}